*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
   background-color: #666;
}

header
{    
    background-color: black;   
    div
    {
        display :flex;
        flex-direction: row;     
        justify-content: center;
        a
        {  
            color:#FFD700;
            text-decoration: none;            
            font-size: 2em;
            margin-left:5%; 
            margin-right:5%;           
        }
        a.courante{
            text-shadow: 2px 0 0 #555, -2px 0 0 #555, 0 2px 0 #555, 0 -2px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;
            color : red;
        }
    }
     
}

section.accueil article
{
    
    border: 1px solid white;
    margin:5px;
    background-color: #999; 
    .card
    {   
        border: 1px solid white;
        margin:5px;
        a
        {
            text-decoration: none!important;
            color: black;
        }
        .image
        {
            display: block;
            width: 100%;
        }
        .container
        {   
            
            .description,.titre
            {                  
                padding:5px;
                border:1px solid white;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-around;
            }
            
           .description
           {
                height: 70px;                
                background-color: #b5ceff; 
                q
                {
                  font-style: italic;
                }
                p
                {
                    align-self: end;                    
                    font-weight: bold;
                    font-size:0.85em;
                }
            }
            .titre
            {
                background-color:#75bff7;                
            }            
           
        }
    }
}

section.article article 
{
    border: 1px solid white;
    margin: 5px;
    background-color: #999; 
    .image
    {
        width:100%;
        display: block;
    }
    .titre
    {       
        padding:5px;
        margin:5px;
        border:1px solid white;
        background-color:#75bff7; 
    }
    #contenu{
        padding:5px;
        margin:5px;
        border:1px solid white;
        background-color:#b5ceff; 
        p{                
         text-align: justify;
         text-indent: 3%;
        }        
    }
}

aside
{     
    border: 1px solid white;    
    margin: 5px;
    background-color: #999;
    .image
    {    
        width: 100%;
        display: block;
    }
    ul
    {        
        list-style:inside;
        list-style-type: "\27B5";
        list-style-position: inside;
        margin:10px;
        border: 1px solid white;
        background-color: #b5ceff;
        ul 
        {     
            border: none;
            list-style:inside;
            list-style-type: "\2694";
        }       
    }
    
}

@media all and (min-width: 768px) 
{
    section.accueil article
    {
        display : grid;
        grid-template-columns: repeat(2, 1fr);
    }
    section.accueil aside, section.article aside
    {
        display : grid;
        grid-template-columns:  1fr 2fr;
        align-items: center;
        .image
        {    
            height: 100%;
        }
      
    }  
    
}

@media all and (min-width: 1024px) 
{
    
    section.accueil
    {
        display : grid;
        grid-template-columns: 3fr 1fr ;
        article
        {
            display : grid;
            grid-template-columns: repeat(3, 1fr);            
        }
        aside
        {
            display : flex;
            flex-direction: column;
            .image
            {    
                height: auto;
            }
            
        }
    }
    
    section.article
    {
        display : flex;
        flex-direction: row-reverse;        
        article
        {
            width: 75%;           
        }
        aside
        {
            width: 25%;
            display : flex;
            flex-direction: column;
            .image
            {    
                height: auto;
            }
         
        }
    }
}